
.App {
  background-color: white;
}

.App-header {
  
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.card-holder{
  max-height: 100vh;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.card{
  display: inline-grid;
}

.state-card{
  display: inline-grid;
  margin: auto;
  background-color: white;
  height: 60vh;
  width: 40vw;
  vertical-align: center;
}
