
.App {
  margin:auto;
  background-color: #2962ff;
  height:100vh;
  width: 100vw;
}

.upr{

  display: inline-grid;
  background-color: #2962ff;
  height: calc(33% - 1px);
  width: inherit;
}
.mid{
  display: inline-grid;
  background-color: #2962ff;
  height: calc(33% - 10rem);
  width: inherit;

  
}
.low{
  display: inline-grid;
  background-color: #2962ff;
  height: calc(33% - 1px);
  width: inherit;

}

.ring{
  display: block;
  border: 10px solid white;
  border-radius: 50%;
  height: 15em;
  width:15em;
  margin-left: auto;
  margin-right: auto;
}
.circle-container {
  position: relative;
}
.actions {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 3em; height: 3em;
  margin: -2em;
}
.action-ring{
  border-radius: 50%;
  border: 5px solid white;
}
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }